[user]
    email = daikichiba.tech.ml@gmail.com
    name = daikichiba9511
[core]
    editor = nvim
    pager = delta

[alias]
    a = add --verbose
    cm = commit
    df = diff
    sw = switch
    cob = checkout -b
    pl = pull
    po = push origin
    ri = rebase -i
    rc = rebase --continue
    s = status
    ss = status -s
    su = status -u

[safe]
    directory = /workspace/working/
[interactive]
    diffFilter = delta --color-only
[delta]
    line-numbers = true
    dark = true
[delta "line-number"]
    line-numbers-left-style = cyan
[merge]
    conflictstyle = diff3
