{{- $profiles := list "nix" "mise" -}}
{{- $environmentProfile := promptChoiceOnce . "environment_profile" "Environment profile" $profiles "nix" -}}
sourceDir = {{ .chezmoi.sourceDir | quote }}

[data]
    environment_profile = {{ $environmentProfile | quote }}

[edit]
    command = "nvim"
