# chezmoi
private_dot_config/coc/extensions
private_dot_config/coc/commands
private_dot_config/coc/suggest.txt
private_dot_config/coc/mru
private_dot_config/coc/list*
private_dot_config/nvim/pack
private_dot_config/nvim/plugin

# logs
*.log

# zsh compiled
*.zwc

# nix
result

# secrets
.env*
*.pem
*.key
*secret*
credentials*
